{% import "partials/macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
    <head>
      {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Hendrik Sollich"/>
        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1" >

        <title> {{ config.title }} </title>


        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
        <!--  css -->
        <link rel="stylesheet"  href="{{ config.base_url }}/fonts.css" >
        <link rel="stylesheet"  href="{{ config.base_url }}/hoodie.css" >
        <link rel="stylesheet" href="{{ config.base_url }}/font-awesome/all.css">
        <script src="{{ config.base_url }}/search_index.en.js"></script>
      {% endblock head %}
    </head>

    <body>
      <header
        {%if page.extra.header_img%}
        style="background-image: url({{page.extra.header_img}});" 
        {% endif %} >
        {% block header %}
        <h1>
          <a href="{{config.base_url}}/blog/">
            {{config.title}}
          </a>
        </h1>
        <div>{{config.description | markdown(inline=true)}}</div>
        {% endblock header %}
      </header>

        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        {% block menu %}
            <div class="container-fluid">
        
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    {% if page %}
                    {% endif %}
                        <li> <a href="/"> Home </a> </li>
                        <li> <a href="/blog"> Blog </a> </li>
                        <li> <a href="/bio"> Bio </a> </li>
                        <li> <a href="/archive"> Archive </a> </li>
                        {{ macros::social_list(extra=config.extra, siteurl=config.base_url, rss=config.generate_feed) }}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        {% endblock menu %}
        </nav>

      {% block content %} {% endblock content %}

      
    </body>
</html>
