<!-- classes=any extra styling, bsize=buttonsize, extra=config.extra, siteurl=config.base_url -->
{% macro social_list(extra, rss, siteurl) %}
    {% if extra.website %}
    <li>
        <a href="https://{{extra.website}}" target="_blank">{{extra.website}}</a>
    </li>
    {% endif %}
    {% if extra.github %}
    <li>
        <a href="https://github.com/{{extra.github}}" target="_blank" title="github/{{extra.github}}">
            <i class="fab fa-github"></i>
            <span> {{extra.github}} </span>
        </a>
    </li>
    {% endif %}
    {% if extra.mastodon%}
    <li>
        <a href="https://{{extra.mastodon}}" rel="me" target="_blank" title="{{extra.mastodon}}">
            <i class="fab fa-mastodon" ></i>
            <span> @{{extra.mastodon}} </span>

        </a>
    </li>
    {% endif %}
    {% if extra.twitter %}
    <li>
        <a href="https://twitter.com/{{extra.twitter}}" target="_blank" title="twitter/{{extra.twitter}}">
            <i class="fab fa-twitter" ></i>
            <span> @{{extra.twitter}} </span>
        </a>
    </li>
    {% endif %}
    {% if extra.podcast_url%}
    <li>
        <a href="{{extra.podcast_name}}" target="_blank" title="{{extra.podcast_name}}">
            <i class="fas fa-microphone-alt" ></i>
            <span> {{ extra.podcast_name }} </span>
        </a>
    </li>
    {% endif %}
    {% if rss %}
    <li>
        <a href="{{siteurl}}/atom.xml" target ="_blank" title="RSS">
            <i class="fas fa-rss" ></i>
            <span> RSS </span>
        </a>
    </li>
    {% endif %}
{% endmacro social_list %}

{% macro frontmatter(classes, date, word_count, read_time) %}
<ul class="frontmatter {{classes}}" id="frontmatter">
    <li> {{word_count}} words → {{read_time}} min </li>
    <span class="dotDivider"></span>
    <li> <time class="article_time"  datetime="{{date}}">{{ date | date(format="%d. %B %Y") }}</time> </li>
</ul>

{% endmacro frontmatter %}

{% macro tag_list(page)%}
{% if page.taxonomies.tags %}
{% for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
    {% endfor %}
{% endif%}
{% endmacro tag_list%}