{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<section class="post_container">
    {% set section = get_section(path="blog/_index.md") %}
    {% for page in section.pages %}
      <article id="{{page.title}}" class="post_list_item">
        <h2 class="article_title" >
          <a href="{{page.permalink}}"  id="article_link" >{{page.title}}</a>
        </h2>
          {% if page.date %}
            {{ macros::frontmatter(classes="", date=page.date, word_count=page.word_count, read_time=page.reading_time) }}
          {% else %}
            {{ macros::frontmatter(classes="", date="", word_count=page.word_count, read_time=page.reading_time) }}
          {% endif %}
        <p class="article_content">{{ page.content | safe | striptags | truncate }}</p>
        <a class="small" href="{{page.permalink}}"> more → </a>
      </article>
    {% endfor %}
</section>
{% endblock content %}


{% block pagination %}
  <nav class="pagination">
    {% if paginator.previous %}
      <span class="prev" ><a rel="prev" href="{{paginator.previous}}" class="button medium font_faint">← prev</a></span>
    {% endif %}

    {% if paginator.next %}
      <span class="next" ><a rel="next" href="{{paginator.next}}" class="button medium font_faint">next →</a></span>
    {% endif %}
  </nav>
{% endblock pagination %}
