{% extends "partials/base.html" %}
{% import "partials/macros.html" as macros %}

{% block header %}
    <h1>
      <a href="{{page.permalink}}">
       {{page.title}}
      </a>
    </h1>
    <h3>
      <a href="{{page.permalink}}">
      {{ page.description}}
    </a>
  </h3>
{% endblock header %}

{% block content %}
<code> PAGE </code>
<section class="post_container">

  <article>
    {% block post %}
      <h2 class="article_title">
        <a href="{{page.permalink}}" id="article_link">
          {{ page.title }}
        </a>
      </h2>
      <h4>
        {{ page.description}}
      </h4>
      {% if page.date %}
      {{ macros::frontmatter(classes="frontmatter_page", date=page.date, word_count=page.word_count, read_time=page.reading_time) }}
      {% endif %}
      {{ page.content | safe }}
      {% endblock post %}
  </article>
</section>
{% endblock content %}
